<div id="front-img" class="row d-flex justify-content-center">
  <img src="/IMG_000.JPG" class="content-width" style="height: 475px;" />
</div>

<div id="about-us-banner" class="row d-flex justify-content-center" style="height: 0px; overflow: visible;">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center banner banner-width" style="position: relative; top: -10px">
      <div class="maj-head-box d-flex align-items-center justify-content-center">
        <div class="maj-head-dash d-flex justify-content-center">
          <h3 class="align-items-center justify-content-center">About Us</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about-us" class="row d-flex justify-content-center" style="height: 440px;">
  <div class="d-flex justify-content-center content-width" style="height: 100%">
    <div id="about-img-left" class="d-flex justify-content-center flex-grow-1" style="background-image: url('/IMG_001.JPG');background-blend-mode: normal; background-size: cover;background-position: 75%; width: 40%;">
      
    </div>

    <div id="about-col" class="blue-faded d-flex justify-content-center align-items-center" style="width: 150px; overflow: visible;">
      <div id="about-col" class="blue-faded d-flex flex-column justify-content-center align-items-center" style="width: 370px; height: 100%; position: relative; color: #e6e6e6">
        <div class="d-flex justify-content-center align-items-center justify-text-center" style="width: 300px;">
          <h3 style="color: #e6e6e6; text-align: center; ">This is our programming club join us we have cookies.</h3>
        </div>
      </div>
    </div>

    <div id="about-img-left" class="d-flex justify-content-center flex-grow-1" style="background-image: url('/IMG_002.jpg');background-blend-mode: normal; background-size: cover;background-position: 22%; width: 40%;">
    </div>
  </div>
</div>

<div id="connections-banner" class="row d-flex justify-content-center" style="height: 0px; overflow: visible;">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center banner banner-width" style="position: relative; top: -10px; height: 20px;">
      <div class="min-head-box d-flex justify-content-center">
        <h6 class="align-items-center justify-content-center" style="position: relative; top:4px">Where to Find us</h6>
      </div>
    </div>
  </div>
</div>

<div id="links-connections" class="d-flex justify-content-center" style="width: 100%;">
  <div class="justify-content-center spacer-width" style="font-family: 'Rubik', sans-serif;  color: #e6e6e6;">
    <div class="blue-faded d-flex justify-content-center spacer-width" style="height: 70px;">
      <div class="d-flex justify-content-center align-items-center" style="width: 55%;">
        <p style="font-size: 27pt">Meeting via Discord</p>
      </div>
      <div class="d-flex justify-content-center" style="width: 45%;">
        <p style="font-size: 27pt">Contact Us</p>
      </div>
    </div>

    <div class="d-flex justify-content-center spacer-width" style="height: 155px;">
      <div class="dark-gray d-flex justify-content-center" style="width: 55%;">
        <a href="https://discord.gg/RsEZgrms2U">
          <div class="d-flex justify-content-center" style="position: relative; top: 12px; background-color: #333333; color: #e6e6e6; border: solid white 1px; border-radius: 12px; line-height: 25px; font-size: 35pt; width: 240px;">
            <div class="d-flex justify-content-center">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51lpm9SpsJL.png" style="height: 100px"/>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" style="position: relative; top: 10px; right: 8px; text-decoration: none;">
              <p>CLICK</p>
              <p style="font-size: 27pt">TO JOIN</p>
            </div>
          </div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center" style="width: 45%; background-color: #333333">
        
      </div>
    </div>
  </div>
</div>

<div id="projects-banner" class="row d-flex justify-content-center" style="height: 0px; overflow: visible;">
  <div class="col-8 d-flex justify-content-center">
    <div class="d-flex justify-content-center banner banner-width" style="position: relative; top: -15px">
      <div class="maj-head-box d-flex align-items-center justify-content-center">
        <div class="maj-head-dash d-flex justify-content-center">
          <h3 class="align-items-center justify-content-center">Projects</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projects" class="project-row">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="blue-faded spacer-width" style="height: 52px;"></div>
    <div class="d-flex justify-content-center content-width" style="height: 300px">
      <div class="d-flex flex-column justify-content-center" style="width: 60%;">
        <div class="d-flex justify-content-center" style="height: 0px;">
          <div class="min-head-box d-flex justify-content-center" style="position: relative; top: -12px; ">
            <h6 class="align-items-center justify-content-center">Mobile App</h6>
          </div>
        </div>
        <div class="" style="height: 100%"></div>
      </div>

      <div class="d-flex" style="width: 40%; background-color: white; ">
        
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="blue-faded spacer-width" style="height: 38px;"></div>
    <div class="d-flex justify-content-center content-width" style="height: 300px">
      <div class="d-flex flex-column justify-content-center" style="width: 60%;">
        <div class="d-flex justify-content-center" style="height: 0px;">
          <div class="min-head-box d-flex justify-content-center" style="position: relative; top: -12px; ">
            <h6 class="align-items-center justify-content-center">Other Projects</h6>
          </div>
        </div>
        <div class="" style="height: 100%"></div>
      </div>

      <div class="d-flex" style="width: 40%; background-color: white; ">
        
      </div>
    </div>
  </div>
</div>

<div id="members-banner" class="row d-flex justify-content-center" style="height: 0px; overflow: visible;">
  <div class="col-8 d-flex justify-content-center">
    <div class="d-flex justify-content-center banner banner-width" style="position: relative; top: -15px">
      <div class="maj-head-box d-flex align-items-center justify-content-center">
        <div class="maj-head-dash d-flex justify-content-center">
            <h3 class="align-items-center justify-content-center">Hall of Fame</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="member-rotation" class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center spacer-width" style="height: 420px; background-color: #49609F">
    <div class="spacer-width" style="height: 45px;"></div>
    <div class="carousel slide flex-grow-1" data-ride="carousel" style="position: relative; height: 340px;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner spacer-width">
        <div class="carousel-item active d-flex justify-content-center spacer-width" style="height: 340px; width: 880px; background-color: #49609F;">

          <div class="d-flex justify-content-center" style="width: 32%;">
            <div class="" style="width: 10px;"></div>
            <img src="" alt="Officer image" class="member-content-box d-block flex-grow-1" style="border-radius: 15px"/>
            <div class="" style="width: 10px;"></div>
          </div>

          <div class="d-flex justify-content-center" style="width: 68%;">
            <div class="d-flex flex-column flex-grow-1">
              <div class="d-flex justify-content-center" style="height: 30px;">
                <div class="member-content-box" style="width: 150px;">
                  <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                    Nick Gaultney
                  </p>
                </div>
                
                <div class="" style="width: 10px;"></div>

                <div class="banner flex-grow-1"></div>
              </div>

              <div class="" style="height: 10px;"></div>

              <div class="member-content-box flex-grow-1"></div>

              <div class="" style="height: 10px;"></div>

              <div class="d-flex flex-row-reverse">
                <a href="">
                  <div class="member-content-box" style="position: relative; right: 0px; width: 170px; height: 30px;">

                    <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                      See Hall of Fame
                    </p>

                  </div>
                </a>
              </div>
            </div>

            <div class="" style="width: 10px;"></div>
          </div>
        </div>

        <div class="carousel-item d-flex justify-content-center spacer-width" style="height: 340px; width: 830px; background-color: #49609F;">

          <div class="d-flex justify-content-center" style="width: 32%;">
            <div class="" style="width: 10px;"></div>
            <img src="" alt="Officer image" class="member-content-box d-block flex-grow-1" style="border-radius: 15px"/>
            <div class="" style="width: 10px;"></div>
          </div>

          <div class="d-flex justify-content-center" style="width: 68%;">
            <div class="d-flex flex-column flex-grow-1">
              <div class="d-flex justify-content-center" style="height: 30px;">
                <div class="member-content-box" style="width: 150px;">
                  <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                    Chase Crossley
                  </p>
                </div>
                
                <div class="" style="width: 10px;"></div>

                <div class="banner flex-grow-1"></div>
              </div>

              <div class="" style="height: 10px;"></div>

              <div class="member-content-box flex-grow-1"></div>

              <div class="" style="height: 10px;"></div>

              <div class="d-flex flex-row-reverse">
                <a href="">
                  <div class="member-content-box" style="position: relative; right: 0px; width: 170px; height: 30px;">

                    <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                      See Hall of Fame
                    </p>

                  </div>
                </a>
              </div>
            </div>

            <div class="" style="width: 10px;"></div>
          </div>
        </div>

        <div class="carousel-item d-flex justify-content-center spacer-width" style="height: 340px; width: 830px; background-color: #49609F;">

          <div class="d-flex justify-content-center" style="width: 32%;">
            <div class="" style="width: 10px;"></div>
            <img src="" alt="Officer image" class="member-content-box d-block flex-grow-1" style="border-radius: 15px"/>
            <div class="" style="width: 10px;"></div>
          </div>

          <div class="d-flex justify-content-center" style="width: 68%;">
            <div class="d-flex flex-column flex-grow-1">
              <div class="d-flex justify-content-center" style="height: 30px;">
                <div class="member-content-box" style="width: 150px;">
                  <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                    Austen Combs
                  </p>
                </div>
                
                <div class="" style="width: 10px;"></div>

                <div class="banner flex-grow-1"></div>
              </div>

              <div class="" style="height: 10px;"></div>

              <div class="member-content-box flex-grow-1"></div>

              <div class="" style="height: 10px;"></div>

              <div class="d-flex flex-row-reverse">
                <a href="">
                  <div class="member-content-box" style="position: relative; right: 0px; width: 170px; height: 30px;">

                    <p class="align-items-center" style="font-size: 19px; text-align: center; vertical-align: center;">
                      See Hall of Fame
                    </p>

                  </div>
                </a>
              </div>
            </div>

            <div class="" style="width: 10px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>