/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: "Ubuntu", sans-serif;
 	color: black;

 	--content-width: 790;
 	--banner-width: calc(var(--content-width)+20px);
 	--spacer-width: calc(var(--content-width)+40px);
 }

 a:hover {
 	color: initial;
 	text-decoration: none !important;
 }

 .blue-faded {
 	background-color: rgba(8, 40, 130, 0.7);
 }

 .blue {
 	background-color: rgba(8, 40, 130, 1.0);
 }

 .gold {
 	background-color: #F5C964;
 }

 .light-gray {
 	background-color: #e6e6e6;
 	color: #4d4d4d;
 }

 .dark-gray {
 	background-color: #4d4d4d;
 }

 .maj-head-box {
 	position: absolute;
 	z-index: 10;
 	top: -17px;
 	height: 65px;
 	width: 360px;
 	border-radius: 7.5px;
 	background-color: #e6e6e6;
 	box-shadow: 0px 0px 3px #4d4d4d;
 	align-items: center;
 	text-align: center;
 }

 .maj-head-dash {
 	top: 2.5px;
 	height: 60px;
 	width: 355px;
 	border: dotted #4d4d4d 2px;
 	border-radius: 5px;
 	justify-content: center;
 	align-items: center;
 }

 .banner {
 	height: 30px;
 	overflow: visible;
 	background-color: #F5C964;
 }

 .banner-width {
 	width: var(--banner-width);
 }

 .content-width {
 	width: var(--content-width);
 }

 .spacer-width {
 	width: var(--spacer-width);
 }

  .min-head-box {
  	position: absolute;
  	z-index: 10;
 	top: -3px;
 	height: 26px;
 	width: 275px;
 	border: solid #4d4d4d 1px;
 	border-radius: 5px;
 	background-color: #e6e6e6;
 	box-shadow: 0px 0px 3px #4d4d4d;
 	justify-content: center;
 	align-items: center;
 }
