<!DOCTYPE html>
<html>
  <head>
    <title>Cbuacm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body class="container-fluid light-gray">
    <div id="header">
      <div class="row blue-faded" style="height: 45px;"></div>

      <div id="menu-bar" class="row gold maj-head-bar" style="height: 30px; overflow: visible;">
        <div id="logo-container" class="col-6 center">
          <div class="maj-head-box center">
            <div class="maj-head-dash row">
              <div id="left-logo" class="col-sm center">
                <h1>ACM</h1>
              </div>
              <div id="right-logo" class="col-sm center">
                <h1>CBU</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-button col-3 center">
          <h3>Home</h3>
        </div>

        <div class="menu-button col-3 center">
          <h3>Hall of Fame</h3>
        </div>
      </div>
    </div>

    <div id="front-img" class="row">
      
    </div>

    <div id="about-us" class="row">
      
    </div>

    <div id="links-connections" class="row">
      
    </div>

    <div id="projects" class="row">
      
    </div>

    <div id="member-rotation" class="row">
      
    </div>

    <div id="footer" class="row">
      
    </div>
  </body>
</html>
