<!DOCTYPE html>
<html>
  <head>
    <title>Cbuacm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body class="container-fluid light-gray ">
    <div id="header">
      <div class="row blue-faded" style="height: 45px;"></div>

      <div id="menu-container" class="row d-flex justify-content-center gold banner">
        <div id="menu-box" class="d-flex justify-content-center banner-width">
          <div id="logo-container" class="col-6 d-flex justify-content-center">
            <div class="maj-head-box d-flex justify-content-center align-items-center">
              <div class="maj-head-dash row d-flex justify-content-center align-items-center">
                <div id="left-logo" class="col-sm justify-content-center">
                  <h3 class="justify-content-center align-items-center">ACM</h3>
                </div>

                <div id="right-logo" class="col-sm justify-content-center">
                  <h3 class="justify-content-center align-items-center">CBU</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="menu-button col-3">
            <h5 class="justify-content-center align-items-center">Home</h5>
          </div>

          <div class="menu-button col-3">
            <h5 class="justify-content-center align-items-center">Hall of Fame</h5>
          </div>
        </div>
      </div>
    </div>

    <div id="front-img" class="row d-flex justify-content-center">
      <img src="./app/assets/images/IMG_000.JPG" class="content-width" style="height: 450px;" />
    </div>

    <div id="about-us-banner" class="row d-flex justify-content-center">
      <div class="col-8 d-flex justify-content-center banner banner-width">
        <div class="maj-head-box d-flex align-items-center justify-content-center">
          <div class="maj-head-dash d-flex justify-content-center">
              <h3 class="align-items-center justify-content-center">About Us</h3>
          </div>
        </div>
      </div>
    </div>

    <div id="about-us" class="row d-flex justify-content-center content-width" style="height: 450px;">
      <div id="about-img-left" class="col-5">

      </div>

      <div id="about-col" class="col-2 blue-faded d-flex justify-content-center align-items-center">
        This is our programming club join us we have cookies.
      </div>

      <div id="about-img-right" class="col-5">

      </div>
    </div>

    <div id="connections-banner" class="row d-flex justify-content-center">
      <div class="col-8 d-flex justify-content-center banner banner-width" style="height: 20px">
        <div class="min-head-box d-flex justify-content-center">
          <h6 class="align-items-center justify-content-center">Where to Find us</h6>
        </div>
      </div>
    </div>

    <div id="links-connections" class="d-flex justify-content-center" style="width: 100%;">
      <div class="d-flex justify-content-center content-width" style="height: 310">
        <div class="blue-faded d-flex justify-content-center content-width" style="height: 105px;">
          <div class="d-flex justify-content-center"></div>
          <div class="d-flex justify-content-center"></div>
        </div>

        <div class="content-width d-flex justify-content-center content-width" style="height: 205px;">
          <div class="dark-gray d-flex justify-content-center"></div>
          <div class="d-flex justify-content-center" style="background-color: #333333"></div>
        </div>
      </div>
    </div>

    <div id="projects" class="project-row">
      <div id="project-spacer" class="d-flex justify-content-center">
        <div class="blue-faded content-width" style="height: 45px;"></div>
      </div>
    </div>

    <div id="member-rotation" class="row">
      
    </div>

    <div id="footer" class="row">
      
    </div>
  </body>
</html>
